<div class="jumbotron">
    <h1>Providing API</h1>
    <p class="lead">
        You Can Check My Backend Task Here
    </p>
    <p>@Html.ActionLink("API", "index", "Swagger", new { area = "" }, null)</p>
</div>

<div class="jumbotron">
    <h1>External API</h1>
    <p class="lead">
        Consuming External Api - Stack Over Flow
    </p>
    <p>@Html.ActionLink("Here", "index", "ExternalApi", new { area = "" }, null)</p>
</div>
<div class="jumbotron">
    <h1>DropDown List</h1>
    <p class="lead">
        DropDownList And JS
    </p>
    <p>@Html.ActionLink("Here", "index", "DDList", new { area = "" }, null)</p>
</div>

